<div class="pivot-item">
	<h3>goals</h3>
	<p>These are some of the goals we want to achieve with code52:</p>

	<ul>
		<li>introduce developers to open-source projects and help them learn the ropes</li>
		<li>contribute to projects across a range of technologies</li>
		<li>let contributors have a say in what we do each week</li>
	</ul>
	
	<p>The current organisers of code52 are [Andrew Tobin](http://twitter.com/tobin), [Brendan Forster](http://twitter.com/shiftkey) and [Paul Jenkins](http://twitter.com/aeoth).</p>
</div>