<div class="pivot-item">
	<h3>goals</h3>
	<p>These are some of the goals we want to achieve with code52:</p>

	<ul>
		<li>introduce developers to open-source projects and help them learn the ropes</li>
		<li>contribute to projects across a range of technologies</li>
		<li>let contributors have a say in what we do each week</li>
	</ul>
	
	<p>The current organisers of code52 are <a href="http://twitter.com/tobin">Andrew Tobin</a>, <a href="http://twitter.com/shiftkey">Brendan Forster</a> and <a href="http://twitter.com/aeoth">Paul Jenkins</a>.</p>
</div>