<div class="pivot-item">
	<h3>current</h3>
	<h4>The latest Code52 project is <a href="/carnac.html">GitHub Tasks for Outlook</a></h4>

	<div class="description">GitHub Tasks for Outlook is a VSTO plugin for Outlook which allows you to manage your GitHub notifications and admin tasks quickly and easily. Read more <a href="/github-for-outlook.html">here</a>.</div>

	<div class="details">

		<ul>
			<li>Fork and contribute on <a href="https://github.com/Code52/github-for-outlook">GitHub</a></li>
			<li>Follow the conversation on <a href="https://jabbr.net/">JabbR</a></li>
			<li>Track the progress on <a href="https://trello.com/board/github-tasks-for-outlook/4f4234cdbfa22c0070ac4caa">Trello</a></li>
		</ul>
		
	</div>
	<div class="description">We are currently planning to start the next project at approx <a href="http://timeanddate.com/worldclock/fixedtime.html?iso=20120227T22&p1=240">10pm Monday, Sydney Time</a></div>
</div>