<div class="latest">

	<h3>The latest Code52 project is <a href="http://code52.org/samurai.html">Samurai</a></h3>

	<div class="description">Samurai a turn-based combat game running on ASP.NET MVC and XNA, with plans to build clients for other platforms in the future. More details  <a href="http://code52.org/samurai.html">here</a>.</div>

	<div class="details">

		<ul>
			<li>Fork and contribute on <a href="https://github.com/Code52/Samurai">GitHub</a></li>
			<li>Follow the conversation on <a href="https://jabbr.net/">JabbR</a></li>
			<li>Track the progress on <a href="https://trello.com/board/samurai/4f1d3d847a38f6221f1d9354">Trello</a></li>
		</ul>
		
	</div>

</div>