<div class="pivot-item">
	<h3>current</h3>
	<h4>The latest Code52 project is <a href="/enhance.html">Enhance - a WPF Scanning Application</a>
	</h4>

	<div class="description">Enhance is a project to modernise the photo and document scanning realm with a fresh look and features not commonly found. Details <a href="/enhance.html">here</a></div>

	<div class="details">
		<p>Want to get involved?</p>

		<ul>
			<li>Fork the code on <a href="https://github.com/Code52/Enhance">GitHub</a></li>
			<li>Get in touch with the contributors on <a href="http://jabbr.net/#/rooms/code52">JabbR</a></li>
			<li>Grab a task from the <a href="https://trello.com/board/enhance/4f24963edbbed1ab5a11c5ad">Trello</a> board and get involved!</li>
		</ul>
		
	</div>
	<div class="description">Not interested in this one? We'll announce the next project at <a href="http://timeanddate.com/worldclock/fixedtime.html?iso=201203012T22&p1=240">approx. 10pm Sydney time, Monday</a>. You could contribute to our <a href="http://github.com/Code52/">past projects</a> too!</div>
</div>