<div class="pivot-item">
	<h3>past</h3>

	Some of our recent work

	<div id="tiles">
		<div id="firstRow">
			<a href="/DownmarkerWPF/"><div class="Tile one blue"><img src="/img/tiles/markpad.png" /><h2>markpad</h2></div></a>
			<a href="/jibbr/"><div class="Tile one blue"><img src="/img/tiles/jibbr.png" /><h2>jibbr</h2></div></a>
			<a href="/Ideastrike/"><div class="Tile one blue"><img src="/img/tiles/ideastrike.png" /><h2>ideastrike</h2></div></a>
			<a href="/samurai-review.html"><div class="Tile two-h blue"><img src="/img/tiles/samurai.png" /><h2>samurai</h2></div></a>
		</div>
		
		<div id="secondRow" style="margin-top:10px;">
			<a href="/pretzel/">
				<div class="Tile two-h lime">
					<img src="/img/tiles/pretzel.png" /><h2>pretzel</h2>
				</div>
			</a>
			<a href="/carnac/">
				<div class="Tile one lime">
					<img src="/img/tiles/carnac.png" /><h2>carnac</h2>
				</div>
			</a>
			<a href="/metro.css/">
				<div class="Tile one lime">
					<img src="/img/tiles/metro.png" /><h2>metro.css</h2>
				</div>
			</a>
			<a href="/github-for-outlook/">
				<div class="Tile one lime">
					<img src="/img/tiles/gtfo.png" /><h2>GT4O</h2>
				</div>
			</a>
		</div>

		<div id="thirdRow" style="margin-top:10px;">
			<a href="/aspnet-internationalization/">
				<div class="Tile two-h purple">
					<h2>asp.net i18n</h2>
				</div>
			</a>
			<a href="/winjs-recap.html">
				<div class="Tile one purple">
					<h2>myfinances</h2>
				</div>
			</a>
			<a href="/Enhance/">
				<div class="Tile one purple">
					<h2>enhance</h2>
				</div>
			</a>
		</div>
	
	</div>
	<div style="clear:both">&nbsp;</div>
</div>