<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
		<link href="/projectsrss.xml" type="application/rss+xml" rel="alternate" title="Projects Feed" />
		<link href="/projectsatom.xml" type="application/atom+xml" rel="alternate" title="Projects Feed" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>{% if page.title != "code52" %}{{ page.title }} - code52{% else %}{{ page.title }}{% endif %}</title>
		<link rel="stylesheet" type="text/css" href="/css/style20120128.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
	</head>
	<body>
		<div id="container">
			<div id="side">
				<a href="/" id="home" title="home" alt="home"><img src="/img/logo.png" alt="Code 52 - a new coding project every week" /></a>
				<div id="hometext"><a href="/" >code52</a></div>
				<div class="section">
					<ul>
						<li><a href="/about.html">about</a></li>
						<li><a href="http://twitter.com/code_52">@code_52</a></li>
						<li><a href="http://jabbr.net/#/rooms/code52">chatroom</a></li>
						<li><a id="suggest" href="http://code52.uservoice.com">suggest a project</a></li>
						<li><a href="/contributing.html">contributing guide</a></li>
						<li><a href="https://github.com/Code52/code52.github.com/wiki">getting started</a></li>
						<li><a href="/projects.html">previous projects</a></li>
						<li><a href="/rss.xml"><img src="/img/25.png" /> announcements</a></li>
						<li><a href="/projectsrss.xml"><img src="/img/25.png" /> progress logs</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				{{content}}
			</div>

		</div>
	</body>
</html>