<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>Code52</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<div id="container">
			<div id="side">
				<h1>52</h1>
				<h2>a new coding project every week</h2>
				
				<ul>
					<li><a href="#">about</a></li>
					<li><a href="#">submit an idea</a></li>
					<li><a href="#">past ideas</a></li>
				</ul>
			</div>
			<div id="content">
				{{content}}
			</div>

		</div>
	</body>
</html>