<!DOCTYPE html>
<html>
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
		<link href="/projectsrss.xml" type="application/rss+xml" rel="alternate" title="Projects Feed" />
		<link href="/projectsatom.xml" type="application/atom+xml" rel="alternate" title="Projects Feed" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>{% if page.title != "code52" %}{{ page.title }} - code52{% else %}{{ page.title }}{% endif %}</title>
		<link rel="stylesheet" type="text/css" href="/css/style20120128.css" />
		<link rel="stylesheet" type="text/css" href="/css/nuget-button.min.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<script id="contributorTemplate" type="text/x-jQuery-tmpl">
		{% literal %}
		{{each contributors}}
		<h3 style="margin-top:0px;"><img src="http://gravatar.com/avatar/${gravatar_id}?s=25" alt="${ name }" /> <a href="https://github.com/${login}">${name || login}</a> - (${contributions} commits)</h3>
		{{/each}}
		{% endliteral %}
		</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28584788-1']);
		  _gaq.push(['_setDomainName', 'code52.org']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	<body>
		<div id="container">
			<div id="side">
				<a href="/" id="home" title="home" alt="home"><img src="/img/logo.png" alt="Code 52 - a new coding project every week" /></a>				
				<div id="hometext"><a href="/" >code52</a></div>
				<div class="section">
					<ul>
						<li><a href="/blog.html">blog</a></li>
						<li><a href="/about.html">about</a></li>
						<li><a href="http://twitter.com/code_52">@code_52</a></li>
						<li><a href="http://jabbr.net/#/rooms/code52">chatroom</a></li>
						<li><a id="suggest" href="http://code52.uservoice.com">suggest a project</a></li>
						<li><a href="/contributing.html">contributing guide</a></li>
						<li><a href="https://github.com/Code52/code52.github.com/wiki">getting started</a></li>
						<li><a href="/projects.html">previous projects</a></li>
						<li><a href="http://ci.code52.org">TeamCity</a></li>
						<li><a href="/rss.xml"><img src="/img/25.png" /> announcements</a></li>
						<li><a href="/projectsrss.xml"><img src="/img/25.png" /> progress logs</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				{{content}}
			</div>
		</div>
		<div style="clear:both">&nbsp;</div>
		{% include footer.html %}
	</body>
</html>