<!DOCTYPE html>
<html>
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>{% if page.title != "code52" %}{{ page.title }} - code52{% else %}{{ page.title }}{% endif %}</title>

		<link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
		<link href="/projectsrss.xml" type="application/rss+xml" rel="alternate" title="Projects Feed" />
		<link href="/projectsatom.xml" type="application/atom+xml" rel="alternate" title="Projects Feed" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery.metro.js"></script>
		<script type="text/javascript" src="/js/jquery.address-1.4.min.js"></script>
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/landing.css" />
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28584788-1']);
		  _gaq.push(['_setDomainName', 'code52.org']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	<body>
	
		<div id="container">
			<h1 style="display:inline;"><a href="/" id="home" title="home" alt="home">code52</a></h1>
			<h2 style="display:inline;">a new coding project every week</h2>
			<div class="metro-pivot">
				{% include latest_project.html %}

				{% include goals.html %}	
				
				{% include get_involved.html %}			

				{% include past.html %}	
				
				{% include links.html %}	
			</div>
		</div>
		{% include footer.html %}
		<script>
		var defaults = {
					animationDuration: 500,
					headerOpacity: 0.25,
					fixedHeaders: false,
					headerSelector: function (item) { return item.children("h3").first(); },
					itemSelector: function (item) { return item.children(".pivot-item"); },
					headerItemTemplate: function () { return $("<span class='header' />"); },
					pivotItemTemplate: function () { return $("<div class='pivotItem' />"); },
					itemsTemplate: function () { return $("<div class='items' />"); },
					headersTemplate: function () { return $("<div class='headers' />"); },
					controlInitialized: undefined,
					selectedItemChanged: function () { $.address.value($(".header.current")[0].innerText); }
				};
		$(function () {
			$("div.metro-pivot").metroPivot(defaults);
		});
		$.address.init().change(function(event) {
            $("div.metro-pivot").data("controller").goToItemByName(event.value.substring(1))
        });
		</script>
	</body>
</html>